.main_body {
  width: 100%;
  .product_banner {
    margin-top: 20px;
  }
  .store_body {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    
    .store_products {
      width: 100%;
      min-height: 400px;
    }
  }
}
