@keyframes glowAnimation {
  0% {
    box-shadow: 0 0 10px rgba(58, 69, 228, 0.5), 0 0 20px rgba(58, 69, 228, 0.3);
    background-color: rgba(14, 27, 207, 0.829);
  }
  50% {
    box-shadow: 0 0 20px rgba(58, 69, 228, 1), 0 0 40px rgba(58, 69, 228, 0.8);
    background-color: rgba(8, 19, 168, 0.829);
  }
  100% {
    box-shadow: 0 0 10px rgba(58, 69, 228, 0.5), 0 0 20px rgba(58, 69, 228, 0.3);
    background-color: rgba(14, 27, 207, 0.829); 
  }
}

.new {
  display: flex;
  font-size: 15px;
  color: rgb(226, 226, 226);
  border-radius: 0 18px 0 18px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  animation: glowAnimation 1.5s infinite;
  font-size: 12px;
  font-weight: bold;
}
